<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698427219128-o1c72e1osgkg0kv8m5amlik9pbvjll56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698427219128-o1c72e1osgkg0kv8m5amlik9pbvjll56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698427219128-h433944p566lfpeu0evm5lqmc3dpfk99.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYO6Al1igXmJLuGgMp4OA-8PLRqjj-Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>698427219128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crazycube.mahjong.app</string>
	<key>PROJECT_ID</key>
	<string>api-project-22676182</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-22676182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698427219128:ios:4f70eaf6fd2f4a4f2ae84d</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-22676182.firebaseio.com</string>
</dict>
</plist>